* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  background-color: #f7f9fc;
  display: flex;
  justify-content: center;
  padding-top: 100px;
  color: #111;
}

.app-container {
  width: 100%;
  max-width: 500px;
  text-align: center;
}

h2 {
  margin-bottom: 30px;
  font-size: 2rem;
}

.calculator-card {
  background-color: white;
  padding: 40px;
  border-radius: 12px;
  box-shadow: 0 10px 30px rgba(0,0,0,0.05);
  display: flex;
  flex-direction: column;
  gap: 20px;
  align-items: center;
}

.subtitle {
  font-weight: 500;
  color: #555;
  align-self: flex-start;
}


input, button {
  width: 100%;
  padding: 15px;
  border-radius: 8px;
  font-size: 1.1rem;
}

input {
  border: 1px solid #ddd;
  outline: none;
  transition: border-color 0.2s;
}

input:focus {
  border-color: #111;
}

button {
  background-color: #111;
  color: white;
  border: none;
  font-weight: bold;
  cursor: pointer;
  transition: background-color 0.2s;
}

button:hover {
  background-color: #333;
}

.result-text {
  margin-top: 10px;
  font-size: 1.2rem;
  font-weight: 600;
  color: #2b6cb0; 
}
